/* Basic styles */
*,*::before,*::after {
    box-sizing: border-box;
}
:root {
    --bg-1: hsl(240, 38%, 20%);
    --bg-2: hsl(240, 18%, 77%);
    --bg-img1: url(images/pattern-curve.svg);
    --bg-img2: url(images/pattern-bg.svg);
    --bg-img3: url(images/pattern-quotes.svg);
    --fz-comment: 1.1rem;
}
body { 
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: left bottom/ auto 70px var(--bg-img1) no-repeat;
}

/* components styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.profile-picture {
    width: 320px;
    height: 300px;
    padding: 1.5rem 2rem;
    background: center / cover var(--bg-img2);
    position: relative;
    margin-bottom: 2rem;
}
    .profile-picture img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, .1);
    }
.btn {
    display: flex;
    position: absolute;
    right: calc(50% - 41px);
    bottom: 4px;
    border-radius: 20px 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}
.btn-arrow {
    background: none;
    border: none;
    outline: none;
    background-color: #fff;
    padding: 13px 1rem;
    cursor: pointer;
}
.btn-arrow:hover {
    background-color: whitesmoke;
}
.btn-arrow:nth-child(1) {
    border-radius: 20px 0 0 20px;
}
.btn-arrow:nth-child(2) {
    border-radius: 0 20px 20px 0;
}
    .arrow {
        border: solid gray;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .arrow:hover {
        color: #000;
    }
    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        pointer-events: none;
    }
    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        pointer-events: none;
    }
.testimonial {
    background: top / auto 3rem var(--bg-img3) no-repeat;
    padding: 8px 2rem;
    text-align: center;
}
    .paragraph {
        line-height: 1.4;
        font-size: var(--fz-comment);
        font-weight: 300;
    }
    .user-info {
        font-size: 15px;
    }
    .user-info__name {
        font-weight: 700;
        color: var(--bg-1);
        margin-bottom: 0;
    }
    .user-info__job-title {
        font-weight: 500;
        color: var(--bg-2);
        margin-top: 0;
    }

/* Complementary styles */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media queries */
@media (min-width: 1100px) {
    body {
        background-size: auto auto;
    }
    .container {
        flex-direction: row;
    }
    .profile-picture {
        order: 2;
        width: calc(320px * 1.6);
        height: calc(300px * 1.6);
        padding: calc(1.5rem * 1.6) calc(2rem * 1.6);
    }
    .btn {
        right: 320px;
        bottom: 18px;
    }
        .btn-arrow {
            padding: 13.5px 17px;
        }
        .arrow {
            border-width: 0 2px 2px 0;
            padding: 3.5px;
        }
    .testimonial {
        width: 570px;
        padding: 1.2rem 2rem;
        text-align: left;
        position: relative;
        right: -150px;
        z-index: 10;
        background-position: 110px top;
        background-size: auto 4.5rem;
    }
        .paragraph {
            font-size: calc(var(--fz-comment) * 1.4);
        }
        .user-info {
            font-size: 1rem;
            margin: 0;
        }
        .user-info__name, .user-info__job-title {
            display: inline-block;
        }
}